.body {
    background: linear-gradient(rgb(91, 87, 115),rgba(0,0,1)) ;
    padding: 30px;
    overflow-y: overlay;
}
img {
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.7) ;
}
.body_icons > .MuiSvgIcon-root {
    margin-right: 10px;
}
.body_shuffle {
    font-size: 60px !important;
}
.body_shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}
.body_songs {
    margin: 20px -30px;
}